<h1>Create a New Topic!</h1>

<form action="/topics" method="post">
    <label>Title: </label>
    <input type="text" name="title" required>
    <br>

    <label>Description: </label>
    <input type="textarea" name="description" required>          <!--textarea doesn't work-->
    <br>

    <input type="submit" value="Create Topic">
</form>