<h2>Welcome back to Research Notes!</h2>
<p>Please enter your info below to log in.</p>

<form action="/login" method="post">
    <label>Username: </label>
    <input type="text" name="username" required>
    <br>
    
    <label>Password: </label>
    <input type="password" name="password" required>
    <br>

    <input type="submit" value="Log In">
</form>