<!DOCTYPE html>

  <head>
    <meta charset="utf-8" />
    <title>Research Notes</title>
    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>

  <body>
    <nav>
      <% if !!logged_in? %>
        <a href="/">All Topics</a>
        <a href="/topics">My Topics</a>
        <a href="/logout">Log Out</a>
        <p>Logged In As <%= current_user.username %></p>
      <% else %>
        <a href="/">Research Notes</a>
        <a href="/signup">Sign Up</a>
        <a href="/login">Log In</a>
      <% end %>    
    </nav>
    

    <div class="wrapper">

        <%= yield %>

    </div>
  </body>
  
</html>